@charset "UTF8";

*{
    margin: 0;
    padding: 0;
}

header.cabecalho{
    padding-top: 150px;
    background-color: aquamarine;
    margin-bottom: 40px;
}

html,body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

h1.centralizado{
    text-align: center;
}

.azul{
    color: blue;
}

.amerelo{
    color: yellow;
}

.vermelho{
    color: red;
}

div.caixa{
    text-align: center;
    margin-bottom: 40px;
}

div.caixa figure{
    display: inline-block;
}

div.caixa img{
    width: 150px;
    height: 150px;
    margin: 20px;
}

div.caixa figure:hover{
    background-color: brown;
}

table{
    width: 50%;
    margin:auto;
    text-align: center;
}

table.borda{
    border-collapse:collapse;
}

table.borda td{
    border: 1px solid black;
}

table.borda tr td.destaque{
    background-color: blueviolet;
}
footer.rodape{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    flex-shrink: 0;
    text-align: center;
}

/*
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Setembro 2023</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/estilo.css'>
</head>

<body>

    <table class="borda">
        <tr><td>valor</td><td>data</td><td>local</td><td>Descrição</td><td>Arquivo</td></tr>

    </table>
</body>

</html>

*/